PI_USER=YOUR_PI_USERNAME_HERE
PI_HOST=YOUR_PI_IP_ADDRESS_HERE
PI_APP_DIR=/home/YOUR_PI_USERNAME_HERE/YOUR_APP_FOLDER_NAME_HERE
REPO_URL="git@YOUR_GIT_REMOTE_HOST_HERE:YOUR_GIT_NAMESPACE_HERE/YOUR_REPOSITORY_NAME_HERE.git"