.p-game-setup-view {
  position: relative;

  &__settings {
    display: flex;
    flex-direction: column;
    gap: $spacing-7;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;

    &__head {
      display: flex;
      flex-direction: row;
      gap: $spacing-6;
      align-items: center;
      justify-content: space-between;

      &__subtitle {
        display: flex;
        flex-direction: row;
        gap: $spacing-7;

        &__title {
          display: flex;
          flex-direction: column;
          gap: $spacing-2;

          & p {
            color: $color-secondary-grey-500;
          }
        }
      }

      &__logo {
        & img {
          height: auto;
          aspect-ratio: 1 / 1;
          width: 3.75rem;

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }

    &__body {
      padding: $spacing-7;
      background-color: $color-secondary-grey-50;
      border-radius: $border-radius-10;
      box-shadow: $box-shadow-lg;
      display: flex;
      flex-direction: column;
      gap: $spacing-8;

      &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-7;

        &__sessionname {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;
        }

        &__participantmodus {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;

          &__subtitle {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;

            & p {
              color: $color-secondary-grey-500;
            }
          }

          &__content {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;
          }
        }

        &__gamemodus {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;

          &__content {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;
          }
        }

        &__gameseries {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;

          &__subtitle {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;

            & p {
              color: $color-secondary-grey-500;
            }
          }

          &__content {
            display: flex;
            flex-direction: row;
            gap: $spacing-5;
            align-items: center;

            &__tabbar {
              flex-grow: 1;
              overflow-x: auto;
              overflow-y: hidden;
              max-width: 100%;
            }
          }
        }

        &__gamename {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;
        }

        &__gamestructure {
          display: flex;
          flex-direction: column;
          gap: $spacing-6;

          &__subtitle {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;

            & p {
              color: $color-secondary-grey-500;
            }
          }

          &__content {
            display: flex;
            flex-direction: column;
            gap: $spacing-6;
          }
        }

        &__scoremodel {
          display: flex;
          flex-direction: column;
          gap: $spacing-6;

          &__subtitle {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;

            & p {
              color: $color-secondary-grey-500;
            }
          }

          &__settings {
            display: flex;
            flex-direction: column;
            gap: $spacing-7;

            &__section {
              display: flex;
              flex-direction: column;
              gap: $spacing-5;
            }
          }
        }

        &__participants {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;

          &__subtitle {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;

            & p {
              color: $color-secondary-grey-500;
            }
          }

          &__content {
            display: flex;
            flex-direction: column;
            gap: $spacing-7;

            &__head {
              display: flex;
              flex-direction: row;
              gap: $spacing-5;
              font-weight: 600;
            }
          }
        }

        &__assignment {
          display: flex;
          flex-direction: column;
          gap: $spacing-6;

          &__subtitle {
            display: flex;
            flex-direction: column;
            gap: $spacing-2;

            & p {
              color: $color-secondary-grey-500;
            }
          }

          &__list {
            display: flex;
            flex-direction: column;
            gap: $spacing-5;

            &__game-card {
              border: 1px dashed $color-secondary-grey-400;
              color: $color-secondary-grey-400;
              /* display: flex;
              flex-direction: column;
              gap: $spacing-4; */
              align-items: center;
              border-radius: $border-radius-10;
              padding: $spacing-6;

              &__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
              }

              &__participants {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: $spacing-2;

                &__tag {
                  background-color: $color-primary-blue-75;
                  padding: $spacing-1 $spacing-3;
                  border-radius: $border-radius-5;
                  font-size: var(--font-size-meta);
                  color: $color-primary-blue-500;
                }

                &__empty {
                  color: $color-secondary-grey-500;
                }
              }
            }
          }

          &__empty {
            color: $color-secondary-grey-400;
          }
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: row;
      gap: $spacing-5;
      justify-content: flex-end;
    }
  }
}

.c-assignment-modal-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  max-height: 400px;
  overflow-y: auto;
  margin-top: $spacing-5;
  background-color: $color-secondary-grey-50;
  padding: $spacing-3;
  border-radius: $border-radius-10;

  &__item {
    display: flex;
    align-items: center;
    gap: $spacing-3;
    padding: $spacing-3;
    border-radius: $border-radius-5;
    cursor: pointer;

    &__name {
      flex-grow: 1;
    }

    &__badge {
      font-size: var(--font-size-meta);
      color: $color-primary-blue-500;
      background-color: $color-primary-blue-75;
      padding: $spacing-1 $spacing-3;
      border-radius: $border-radius-5;
    }
  }
}
