.c-profile__icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: $spacing-4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-3;
  aspect-ratio: 1/1;

  border-radius: $border-radius-999;
  background: $color-primary-blue-300;

  &--default {
    background: $color-secondary-grey-50;
    color: $color-primary-blue-500;
    box-shadow: $box-shadow;
    font-size: var(--font-size-h6);
  }

  &--large {
    width: 4.5rem;
    height: 4.5rem;
    font-size: var(--font-size-h5);
  }

  &--scoreboard-P1 {
    aspect-ratio: 74.93/74.93;

    border-radius: $border-radius-999;
    background: var(--secondary-grey-50, #fdffff);
    box-shadow: $box-shadow;
  }

  &--scoreboard-P1 p {
    font-size: var(--font-size-h4);
    font-weight: var(--font-bold);
    line-height: 2.25rem;
    font-style: normal;
    background: $colors-gradient-blue;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &--scoreboard-P2 {
    aspect-ratio: 74.93/74.93;

    border-radius: $border-radius-999;
    background: var(--secondary-grey-50, #fdffff);
    box-shadow: $box-shadow;
  }

  &--scoreboard-P2 p {
    font-size: var(--font-size-h4);
    font-weight: var(--font-bold);
    line-height: 2.25rem;
    font-style: normal;
    background: $colors-gradient-red;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &--scoreboard-P3 {
    aspect-ratio: 74.93/74.93;

    border-radius: $border-radius-999;
    background: var(--secondary-grey-50, #fdffff);
    box-shadow: $box-shadow;
  }

  &--scoreboard-P3 p {
    font-size: var(--font-size-h4);
    font-weight: var(--font-bold);
    line-height: 2.25rem;
    font-style: normal;
    background: $colors-gradient-orange;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &--scoreboard-Px {
    aspect-ratio: 74.93/74.93;

    border-radius: $border-radius-999;
    background: $spacing-4;
    box-shadow: $box-shadow;
  }

  &--scoreboard-Px p {
    font-size: var(--font-size-h4);
    line-height: 2.25rem;
    font-style: normal;
    background: $color-primary-blue-500;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
