.c-tabbar {
  padding: $spacing-3;
  background-color: $color-primary-blue-75;
  border-radius: $border-radius-5;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-3;
  flex-wrap: nowrap;
  align-items: stretch;

  &--hug {
    width: max-content;

    .c-tabbar__label {
      flex: 0 0 auto;
    }

    .c-tabbar__wrapper {
      flex: 0 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    flex: 1 1 0;
  }

  &__input {
    &:checked {
      & + .c-tabbar__label {
        background-color: $color-primary-blue-100;
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-3;
    padding: $spacing-3 $spacing-5;
    border-radius: $border-radius-5;
    flex: 1 1 0;
    min-width: 0;
    cursor: pointer;

    &__icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }
}
